/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */

    outline: none;
}

:root {
    --cor1: #127369;
    --cor2: #10403B;
    --cor3: #8AA6A3;
    --cor4: #4C5958;
    --cor5: #446865;
}

body {
    background-color: var(--cor2) !important;
}

/* HTML */
input {
    width: 90%;
    height: 40px;
    border: none;
    text-align: left;
    text-indent: 10px;

    border-radius: 0 10px;
    font-weight: 500;
}

button {
    background-color: var(--cor3);
    width: 90%;

    border: none;
    padding: 10px;
    color: var(--cor1);

    font-weight: bold;
}

button:hover {
    background-color: var(--cor4);
    color: whitesmoke;
    transition: .5s;
}

h2 {
    color: var(--cor5);
}


/* ID */
#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CLASS */
.block {
    width: 350px;
    background-color: var(--cor5);
    color: whitesmoke;

    text-align: center;
    padding: 15px;

    border-radius: 0 30px;
    box-shadow: 1px 0px 17px 12px rgba(138,166,163,0.19);
}

.block h2 {
    color: whitesmoke;
    margin-bottom: 15px;
}

.block .convert {
    margin-top: 15px;
    text-align: left;
}

.two {
    background-color: var(--cor1);
    color: whitesmoke;
    margin-top: 40px;

    border-radius: 30px 0;
}

.res {
    font-weight: bolder;
    font-size: 1.2em;
    padding-top: 20px;
    word-wrap: break-word;
}